<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hi, I'm Kayla!</title>
    </head>
    <body style="--hue: 240">
        <main>
            <div id="card">
                <div id="cardColor">
                    <div id="content"><%- include(section) %></div>
                </div>
            </div>
            <nav></nav>
        </main>
    </body>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        body {
            --c-base-05: hsl(var(--hue), 10%, 05%);
            --c-base-08: hsl(var(--hue), 10%, 08%);
            --c-base-10: hsl(var(--hue), 10%, 10%);
            --c-base-12: hsl(var(--hue), 10%, 12%);
            --c-base-15: hsl(var(--hue), 10%, 15%);
            --c-base-18: hsl(var(--hue), 10%, 18%);
            --c-base-20: hsl(var(--hue), 10%, 20%);
            --c-base-22: hsl(var(--hue), 10%, 22%);
            --c-base-25: hsl(var(--hue), 10%, 25%);
            --c-base-30: hsl(var(--hue), 10%, 30%);
            --c-base-35: hsl(var(--hue), 10%, 35%);
            --c-base-40: hsl(var(--hue), 10%, 40%);
            --c-base-45: hsl(var(--hue), 10%, 45%);
            --c-base-50: hsl(var(--hue), 10%, 50%);
            --c-base-55: hsl(var(--hue), 10%, 55%);
            --c-base-60: hsl(var(--hue), 10%, 60%);
            --c-base-70: hsl(var(--hue), 10%, 70%);
            --c-base-80: hsl(var(--hue), 10%, 80%);
            --c-base-90: hsl(var(--hue), 10%, 90%);

            --c-accent-50: hsl(var(--hue), 80%, 50%);
            --c-accent-60: hsl(var(--hue), 80%, 60%);
            --c-accent-70: hsl(var(--hue), 80%, 70%);
            --c-accent-80: hsl(var(--hue), 80%, 80%);
            --c-accent-90: hsl(var(--hue), 80%, 90%);

            --c-accent-shifted-50: hsl(calc(var(--hue) + 90), 80%, 50%);
            --c-accent-shifted-60: hsl(calc(var(--hue) + 90), 80%, 60%);
            --c-accent-shifted-70: hsl(calc(var(--hue) + 90), 80%, 70%);
            --c-accent-shifted-80: hsl(calc(var(--hue) + 90), 80%, 80%);
            --c-accent-shifted-90: hsl(calc(var(--hue) + 90), 80%, 90%);

            --grad: linear-gradient(135deg, var(--c-accent-70), var(--c-accent-shifted-70));

            background: var(--c-base-10);
        }

        main {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            padding: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }

        #card {
            position: relative;
            width: 900px;
            height: 100%;
            padding: 8px;
            flex-grow: 1;
            border-radius: 32px;
            box-shadow: 0px 4px 12px var(--c-base-08);
            background: var(--c-base-15);
        }
        #cardColor {
            width: 100%;
            height: 100%;
            background: var(--grad);
            padding: 4px;
            border-radius: 24px;
        }
        #content {
            width: 100%;
            height: 100%;
            background: var(--c-base-15);
            padding: 16px;
            border-radius: 20px;
        }

        #nav {
            border-radius: 32px;
            padding
        }
    </style>

    <script>
        const hueUpdateIntervalMs = 1000 / 30;
        const hueCycleMs = 30 * 1000;
        const hueChangePerUpdate = (360 / hueCycleMs) * hueUpdateIntervalMs;
        let hueCurrent = parseFloat(document.body.style.getPropertyValue('--hue'));
        setInterval(() => {
            hueCurrent = (hueCurrent + hueChangePerUpdate) % 360;
            document.body.style.setProperty('--hue', Math.round(hueCurrent));
        }, hueUpdateIntervalMs);
    </script>
</html>
