* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#window {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hud {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}

#hud .items {
    display: flex;
    gap: 16px;
    margin: 16px;
}

#hud .items .separator {
    width: 2px;
    background: hsla(210, 10%, 70%, 0.5);
    border-radius: 1px;
    margin: 12px 8px;
}

#hud .carousel,
#hud .offhand {
    display: flex;
    align-items: center;
    gap: 8px;
}

#hud .item {
    position: relative;
    width: 55px;
    height: 55px;
    background: hsla(210, 10%, 30%, 0.6);
    border: 2px solid hsla(210, 10%, 60%, 0.5);
    border-radius: 16px;
    backdrop-filter: blur(4px);
    filter: drop-shadow(0px 4px 8px hsla(210, 10%, 5%, 0.5));
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hud .item.selected {
    background: hsl(210, 10%, 30%);
    border: 4px solid hsl(210, 80%, 80%);
    width: 70px;
    height: 70px;
}

#hud .item.end {
    width: 40px;
    height: 40px;
}

#hud .item .count {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: hsl(210, 10%, 50%);
    border-radius: 4px 0px 0px 0px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 2px 8px 2px 6px;
}

#hud .item img {
    width: 32px;
    height: 32px;
}

#hud .item.end img {
    width: 20px;
    height: 20px;
}