<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>kaysting.dev</title>
        <link rel="stylesheet" href="/assets/css/utils.css" />
        <link rel="stylesheet" href="/assets/css/material-symbols.css" />
        <link rel="stylesheet" href="/assets/css/layout.css" />
    </head>
    <body>
        <main><%- body %></main>
    </body>
</html>
