body {
    --c-text-main: hsl(350, 40%, 20%);
    --c-text-secondary: hsl(350, 40%, 50%);
    --c-separator: hsl(350, 40%, 80%);
    --c-chip-bg: hsl(350, 40%, 92%);

    margin: 0.5in;
    padding: 0px;
    font-size: 10pt;
    font-family: 'Poppins';
    line-height: 1.2;
    color: var(--c-text-main);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

main {
    margin: 0 auto;
    max-width: 1000pt;
}

p {
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0.3em;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul {
    margin: 0.25em 0;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}

ul li {
    position: relative;
    line-height: 1.2;
    padding-left: 2em;
    margin-bottom: 0.3em;
}

ul li::before {
    content: '❯';
    font-family: 'Material Symbols Rounded';
    color: var(--c-text-secondary);
    position: absolute;
    left: 7pt;
    top: calc(50% - 2pt);
    transform: translateY(-50%);
    font-size: 12pt;
}

#title {
    font-weight: bold;
    font-size: 12pt;
    color: var(--c-text-secondary);
}

#subtitle {
    font-size: 10pt;
    color: var(--c-text-secondary);
}

#chips .chip {
    border-radius: 100pt;
    padding: 0 8pt;
    height: 20pt;
    background: var(--c-chip-bg);
}

#chips .chip .symbol {
    font-size: 12pt;
    color: var(--c-text-secondary)
}

#chips .chip .label {
    color: var(--c-text-main);
}

#chips .chip a.label {
    text-decoration: none;
}

.separator {
    height: 2pt;
    width: 100%;
    border-radius: 2pt;
    background: var(--c-separator);
}

.header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.header .symbol {
    width: 30pt;
    height: 30pt;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    border-radius: 100px;
    color: var(--c-chip-bg);
    background: var(--c-text-secondary);
}

.header .text {
    font-size: 12pt;
    font-weight: bold;
    color: var(--c-text-secondary);
}

.section {
    padding: 8pt 16pt;
    margin-left: 14pt;
    border-left: 3pt solid var(--c-text-secondary);
    display: flex;
    flex-direction: column;
    gap: 8pt;
}

.content {
    line-height: 1.4;
    position: relative;
}

/* .content::before {
    width: 10pt;
    height: 10pt;
    border-radius: 4pt;
    background: var(--c-text-secondary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -22pt;
    content: '';
} */

.content .title {
    font-weight: bold;
    font-size: 11pt;
}

.content .accent {
    color: var(--c-text-secondary);
    font-weight: bold;
    line-height: 1.2;
}

@media print {
    @page {
        size: letter;
        margin: 0;
    }

    body {
        margin: 0.3in;
        width: auto;
        height: auto;
    }
}