body {
    box-sizing: border-box;
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: 60% 35%;
    background-size: 350%;
    background-repeat: no-repeat;
    filter: saturate(2);
}

#main {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Urbanist', sans-serif;
    font-size: 48px;
    line-height: 1;
    color: white;
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, 0.3);
}

.bottom {
    padding: 32px 24px;
    filter: drop-shadow(0px 2px 2px hsla(0, 0%, 0%, 0.5));
}

#time {
    font-size: 200px;
    font-weight: 600;
}

.timeCont .small {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 600;
}

.dateCont {
    font-size: 50px;
    font-weight: 600;
}

#weatherIcon {
    width: 128px;
    height: 128px;
}

#weatherTemp {
    font-size: 70px;
    font-weight: 600;
}

.weatherHighLow {
    font-size: 40px;
    font-weight: 600;
}

#weatherDesc {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.weatherStats {
    font-size: 32px;
    font-weight: 600;
}

.weatherStats img {
    width: 64px;
    height: 64px;
    margin: -8px -8px -8px -8px;
}

#weatherSunriseAmPm,
#weatherSunsetAmPm {
    font-size: 16px;
    font-weight: 600;
    padding-left: 4px;
}

#weatherSunrise,
#weatherSunset {
    padding-left: 4px;
}

.btn {
    padding: 16px;
    border-radius: 8px;
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 32px;
    font-family: 'Material Symbols Outlined';
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipse;
    text-decoration: none;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    user-select: none;
}

#fullscreen {
    position: absolute;
    top: 32px;
    left: 32px;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.no-shrink {
    flex-shrink: 0;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.align-start {
    align-items: flex-start;
}

.justify-start {
    justify-content: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-end {
    justify-content: flex-end;
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}