@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color category properties */
    --c-base-hue: 340;
    --c-base-sat: 10%;

    --c-accent-hue: 340;
    --c-accent-sat: 60%;

    --c-danger-hue: 5;
    --c-danger-sat: 90%;

    --c-success-hue: 150;
    --c-success-sat: 60%;

    /* Color palettes */
    --c-base-0: hsl(var(--c-base-hue), var(--c-base-sat), 0%);
    --c-base-5: hsl(var(--c-base-hue), var(--c-base-sat), 5%);
    --c-base-8: hsl(var(--c-base-hue), var(--c-base-sat), 8%);
    --c-base-10: hsl(var(--c-base-hue), var(--c-base-sat), 10%);
    --c-base-12: hsl(var(--c-base-hue), var(--c-base-sat), 12%);
    --c-base-15: hsl(var(--c-base-hue), var(--c-base-sat), 15%);
    --c-base-18: hsl(var(--c-base-hue), var(--c-base-sat), 18%);
    --c-base-20: hsl(var(--c-base-hue), var(--c-base-sat), 20%);
    --c-base-22: hsl(var(--c-base-hue), var(--c-base-sat), 22%);
    --c-base-25: hsl(var(--c-base-hue), var(--c-base-sat), 25%);
    --c-base-28: hsl(var(--c-base-hue), var(--c-base-sat), 28%);
    --c-base-30: hsl(var(--c-base-hue), var(--c-base-sat), 30%);
    --c-base-35: hsl(var(--c-base-hue), var(--c-base-sat), 35%);
    --c-base-40: hsl(var(--c-base-hue), var(--c-base-sat), 40%);
    --c-base-45: hsl(var(--c-base-hue), var(--c-base-sat), 45%);
    --c-base-50: hsl(var(--c-base-hue), var(--c-base-sat), 50%);
    --c-base-55: hsl(var(--c-base-hue), var(--c-base-sat), 55%);
    --c-base-60: hsl(var(--c-base-hue), var(--c-base-sat), 60%);
    --c-base-65: hsl(var(--c-base-hue), var(--c-base-sat), 65%);
    --c-base-70: hsl(var(--c-base-hue), var(--c-base-sat), 70%);
    --c-base-75: hsl(var(--c-base-hue), var(--c-base-sat), 75%);
    --c-base-80: hsl(var(--c-base-hue), var(--c-base-sat), 80%);
    --c-base-90: hsl(var(--c-base-hue), var(--c-base-sat), 90%);
    --c-base-100: hsl(var(--c-base-hue), var(--c-base-sat), 100%);

    --c-accent-20: hsl(var(--c-accent-hue), var(--c-accent-sat), 20%);
    --c-accent-30: hsl(var(--c-accent-hue), var(--c-accent-sat), 30%);
    --c-accent-40: hsl(var(--c-accent-hue), var(--c-accent-sat), 40%);
    --c-accent-50: hsl(var(--c-accent-hue), var(--c-accent-sat), 50%);
    --c-accent-60: hsl(var(--c-accent-hue), var(--c-accent-sat), 60%);
    --c-accent-70: hsl(var(--c-accent-hue), var(--c-accent-sat), 70%);
    --c-accent-80: hsl(var(--c-accent-hue), var(--c-accent-sat), 80%);
    --c-accent-90: hsl(var(--c-accent-hue), var(--c-accent-sat), 90%);

    --c-danger-20: hsl(var(--c-danger-hue), var(--c-danger-sat), 20%);
    --c-danger-30: hsl(var(--c-danger-hue), var(--c-danger-sat), 30%);
    --c-danger-40: hsl(var(--c-danger-hue), var(--c-danger-sat), 40%);
    --c-danger-50: hsl(var(--c-danger-hue), var(--c-danger-sat), 50%);
    --c-danger-60: hsl(var(--c-danger-hue), var(--c-danger-sat), 60%);
    --c-danger-70: hsl(var(--c-danger-hue), var(--c-danger-sat), 70%);
    --c-danger-80: hsl(var(--c-danger-hue), var(--c-danger-sat), 80%);
    --c-danger-90: hsl(var(--c-danger-hue), var(--c-danger-sat), 90%);

    --c-success-20: hsl(var(--c-success-hue), var(--c-success-sat), 20%);
    --c-success-30: hsl(var(--c-success-hue), var(--c-success-sat), 30%);
    --c-success-40: hsl(var(--c-success-hue), var(--c-success-sat), 40%);
    --c-success-50: hsl(var(--c-success-hue), var(--c-success-sat), 50%);
    --c-success-60: hsl(var(--c-success-hue), var(--c-success-sat), 60%);
    --c-success-70: hsl(var(--c-success-hue), var(--c-success-sat), 70%);
    --c-success-80: hsl(var(--c-success-hue), var(--c-success-sat), 80%);
    --c-success-90: hsl(var(--c-success-hue), var(--c-success-sat), 90%);

    /* Text colors */
    --c-text-default: var(--c-base-90);
    --c-text-bright: var(--c-base-100);
    --c-text-secondary: var(--c-base-75);
    --c-text-muted: var(--c-base-60);
    --c-text-accent: var(--c-accent-80);
    --c-text-danger: var(--c-danger-80);
    --c-text-success: var(--c-success-80);
    --c-text-default-inverted: var(--c-base-10);

    /* Background colors */
    --c-bg-negative: var(--c-base-5);
    --c-bg-base: var(--c-base-8);
    --c-bg-subsurface: var(--c-base-10);
    --c-bg-surface: var(--c-base-12);

    /* Border colors */
    --c-border-default: var(--c-base-25);
    --c-border-subtle: var(--c-base-20);

    /* Action colors (links, buttons) */
    --c-action-primary: var(--c-accent-80);
    --c-action-primary-hover: var(--c-accent-70);
    --c-action-secondary: var(--c-base-80);
    --c-action-secondary-hover: var(--c-base-70);
    --c-action-tertiary: var(--c-base-25);
    --c-action-tertiary-hover: var(--c-base-40);
    --c-action-danger: var(--c-danger-70);
    --c-action-danger-hover: var(--c-danger-80);
    --c-action-success: var(--c-success-60);
    --c-action-success-hover: var(--c-success-50);

    /* Syntax Highlighting */
    --c-syntax-comment: #8b949e;
    --c-syntax-namespace: #8b949e;
    --c-syntax-constant: #79c0ff;
    --c-syntax-entity: #d2a8ff;
    --c-syntax-storage-modifier-import: #c9d1d9;
    --c-syntax-entity-tag: #7ee787;
    --c-syntax-keyword: #ff7b72;
    --c-syntax-string: #a5d6ff;
    --c-syntax-variable: #ffa657;

    /* Transition functions */
    --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
    --ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
}

body {
    background: var(--c-bg-base);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--c-text-default);
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    flex-shrink: 1;
    min-width: 0px;
    max-width: 100%;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 600;
    color: var(--c-text-bright);
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
    margin-top: 1.2em;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child) {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p,
li {
    font-size: 1em;
    line-height: 1.5;
    color: var(--c-text-default);
}

b,
strong {
    font-weight: bold;
    color: var(--c-text-bright);
}

table {
    border-collapse: collapse;
    overflow: auto;
    margin-bottom: 1em;
}

.text-monospace,
code {
    font-family: 'Fira Code', monospace;
}

code:not(pre code) {
    background: var(--c-bg-surface);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.9em;
    color: var(--c-text-default);
}

pre code {
    width: fit-content;
    background: var(--c-bg-surface);
    border: 1px solid var(--c-border-default);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 1em;
    color: var(--c-text-default);
    display: block;
    overflow: auto;
    margin-bottom: 1em;
    line-height: 1.4;
}

.cm-comment,
.cm-meta,
.cm-hr,
code .token.comment,
code .token.deleted,
code .token.prolog,
code .token.doctype,
code .token.cdata {
    color: var(--c-syntax-comment) !important;
}

.cm-header,
.cm-def,
.cm-variable,
.cm-variable-3,
.cm-number,
.cm-builtin,
.cm-atom,
.cm-qualifier,
.cm-attribute,
code .token.class,
code .token.builtin,
code .token.property,
code .token.attr-name,
code .token.boolean,
code .token.number,
code .token.constant {
    color: var(--c-syntax-constant) !important;
}

.cm-variable-2,
.cm-type,
code .token.color,
code .token.variable {
    color: var(--c-syntax-variable) !important;
}

.cm-calle,
code .token.function,
code .token.symbol,
code .token.entity {
    color: var(--c-syntax-entity) !important;
}

.cm-tag,
code .token.class-name,
code .token.selector,
code .token.tag {
    color: var(--c-syntax-entity-tag) !important;
}

.cm-keyword,
.cm-operator,
code .token.important,
code .token.keyword,
code .token.operator,
code .token.atrule,
code .token.unit {
    color: var(--c-syntax-keyword) !important;
}

.cm-quote,
.cm-string,
.cm-string-2,
.cm-link,
code .token.string,
code .token.char,
code .token.regex,
code .token.url,
code .token.attr-value {
    color: var(--c-syntax-string) !important;
}

.cm-property,
.cm-positive,
.cm-negative,
.cm-bracket,
.cm-error,
.cm-invalidchar,
code .token.punctuation,
code .token.inserted,
code .token.interpolation-punctuation {
    color: white !important;
}

code .token.bold {
    font-weight: bold;
}

code .token.italic {
    font-style: italic;
}

code .token.namespace {
    color: var(--c-syntax-namespace) !important;
}

ul,
ol {
    margin-left: 2em;
}

p:not(:last-child),
ul:not(:last-child):not(li > ul),
ol:not(:last-child):not(li > ol) {
    margin-bottom: 0.8em;
}

a {
    color: var(--c-action-primary);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: var(--c-action-primary-hover);
    text-decoration: underline;
    cursor: pointer;
}

small {
    display: block;
    font-size: 14px;
    color: var(--c-text-muted);
    line-height: 1.4;
}

label {
    font-size: 14px;
    color: var(--c-text-secondary);
}

img {
    user-select: none;
    object-fit: cover;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 16px;
    border: 1px solid var(--c-border-default);
    margin-bottom: 1.5em;
}

.table-container table {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    /* Force scrolling on small screens */
    min-width: 500px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    margin-bottom: 0;
}

thead {
    background: var(--c-bg-surface);
}

th {
    text-align: left;
    font-weight: 600;
    color: var(--c-text-bright);
    padding: 12px 16px;
    font-size: 14px;
    border-bottom: 1px solid var(--c-border-default);
    white-space: nowrap;
}

td,
tbody th[scope="row"] {
    padding: 12px 16px;
    color: var(--c-text-default);
    border-bottom: 1px solid var(--c-border-subtle);
    font-size: 15px;
}

tr:last-child td,
tr:last-child th[scope="row"] {
    border-bottom: none;
}

tbody tr:hover {
    background: var(--c-base-10);
}

tbody th[scope="row"] {
    color: var(--c-text-default);
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    padding: 12px 16px;
    white-space: nowrap;
    font-size: 14px;
}

.card table {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

::selection {
    background: var(--c-accent-80);
    color: black;
}

*:focus-visible {
    outline: 2px solid var(--c-accent-80);
    outline-offset: 2px;
    border-radius: 2px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--c-base-30);
    border-radius: 6px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--c-base-40);
}

.text-secondary {
    color: var(--c-text-secondary);
}

.text-muted {
    color: var(--c-text-muted);
}

.text-danger {
    color: var(--c-text-danger);
}

.text-success {
    color: var(--c-text-success);
}

.text-accent {
    color: var(--c-text-accent);
}

.btn {
    height: var(--height);
    padding: 0px var(--padding);
    font-family: 'Poppins', sans-serif;
    font-size: var(--textSize);
    font-weight: 500;
    border-radius: calc(var(--height) / 2);
    background: var(--bg);
    transition: 0.1s ease-in-out;
    color: var(--fg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--padding) * 0.67);
    user-select: none;
    border: 1px solid var(--border);
    flex-shrink: 0;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
}

.btn:hover {
    text-decoration: none;
}

.btn,
.btn * {
    cursor: pointer;
}

.btn:hover:not(.disabled):not(:disabled) {
    color: var(--fgHover);
    background: var(--bgHover);
    transition: none;
}

/* default color */
.btn {
    --bg: var(--c-action-primary);
    --bgHover: var(--c-action-primary-hover);
    --fg: var(--c-text-default-inverted);
    --fgHover: var(--c-text-default-inverted);
}

.btn.danger {
    --bg: var(--c-action-danger);
    --bgHover: var(--c-action-danger-hover);
}

.btn.success {
    --bg: var(--c-action-success);
    --bgHover: var(--c-action-success-hover);
}

.btn.tertiary {
    --bg: var(--c-action-tertiary);
    --bgHover: var(--c-action-tertiary-hover);
    --fg: var(--c-text-default);
    --fgHover: var(--c-text-bright);
}

.btn.secondary {
    --bg: var(--c-action-secondary);
    --bgHover: var(--c-action-secondary-hover);
}

.btn.outline {
    --border: var(--fg);
}

.btn.text,
.btn.outline {
    --bg: transparent;
    --bgHover: var(--c-action-tertiary);
    --fg: var(--c-action-primary);
    --fgHover: var(--c-action-primary);
}

.btn.text.secondary,
.btn.outline.secondary {
    --fg: var(--c-action-secondary);
    --fgHover: var(--c-action-secondary);
}

.btn.text.tertiary {
    --fg: var(--c-action-secondary);
    --fgHover: var(--c-action-secondary);
}

.btn.outline.tertiary {
    --fg: var(--c-action-secondary);
    --fgHover: var(--c-action-secondary);
    --border: var(--c-action-tertiary-hover);
}

.btn.text.danger,
.btn.outline.danger {
    --fg: var(--c-action-danger);
    --fgHover: var(--c-action-danger);
}

.btn.text.success,
.btn.outline.success {
    --fg: var(--c-action-success);
    --fgHover: var(--c-action-success);
}

/* default size */
.btn.small,
.textbox.small {
    --height: 28px;
    --textSize: 14px;
    --padding: 12px;
}

.btn,
.textbox {
    --height: 36px;
    --textSize: 14px;
    --padding: 14px;
}

.btn.medium,
.textbox.medium {
    --height: 40px;
    --textSize: 15px;
    --padding: 16px;
}

.btn.large,
.textbox.large {
    --height: 48px;
    --textSize: 16px;
    --padding: 20px;
}

.btn.circle {
    --padding: 0px;
    width: var(--height);
}

.btn:disabled,
.btn.disabled,
.textbox:disabled,
.textbox.disabled,
.btn:disabled *,
.btn.disabled *,
.textbox:disabled *,
.textbox.disabled * {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn>.symbol,
.textbox>.symbol {
    font-size: calc(var(--textSize) * 1.4);
}

.btn>.icon,
.textbox>.icon {
    width: calc(var(--textSize) * 1.4);
    height: calc(var(--textSize) * 1.4);
}

.btn>.icon.mask,
.textbox>.icon.mask {
    font-family: sans-serif;
    background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    content: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.textbox {
    --textbox-border: var(--c-border-default);
    height: var(--height);
    padding: 0px var(--padding);
    border-radius: calc(var(--height) / 2);
    background: var(--c-bg-negative);
    border: 1px solid var(--textbox-border);
    color: var(--c-text-secondary);
    font-size: var(--textSize);
    transition: 0.1s ease-in-out;
    position: relative;
    overflow: hidden;
    display: flex;
    gap: calc(var(--padding) * 0.67);
    align-items: center;
}

.textbox:not(.pointer),
.textbox:not(.pointer) label {
    cursor: text;
}

.textbox.pointer,
.textbox.pointer select,
.textbox.pointer label {
    cursor: pointer;
}

.textbox select {
    /* Disable pointer events on select menu so the textbox can trigger the custom menu */
    pointer-events: none;
}

.textbox.danger {
    --textbox-border: var(--c-action-danger);
}

.textbox.success {
    --textbox-border: var(--c-action-success);
}

.textbox:focus-within {
    --textbox-border: var(--c-action-primary);
    box-shadow: 0px 0px 0px 1px var(--textbox-border);
}

.textbox.danger:focus-within {
    --textbox-border: var(--c-action-danger);
}

.textbox.success:focus-within {
    --textbox-border: var(--c-action-success);
}

.textbox input,
.textbox select,
.textbox textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: var(--textSize);
    line-height: 1.5;
    color: var(--c-text-default);
    flex-grow: 1;
    resize: none;
}

.textbox input::placeholder,
.textbox select::placeholder,
.textbox textarea::placeholder {
    color: var(--c-text-muted);
}

.textbox input:disabled,
.textbox select:disabled,
.textbox textarea:disabled {
    cursor: not-allowed;
}

.textbox.dynamic {
    height: auto;
}

.textbox.dynamic input,
.textbox.dynamic select,
.textbox.dynamic textarea {
    padding: calc(var(--padding) * 0.75) 0px;
}

.textbox label {
    font-weight: 500;
    flex-shrink: 0;
    font-size: calc(var(--textSize) * 0.8);
    user-select: none;
}

.textbox>.vertical {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: calc(var(--padding) * 0.6);
}

.textbox>.vertical>input,
.textbox>.vertical>select,
.textbox>.vertical>textarea {
    padding-top: calc(var(--padding) * 0.2);
    padding-bottom: calc(var(--padding) * 0.5);
}

.popover {
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--c-bg-negative);
    border: 1px solid var(--c-border-default);
    opacity: 0;
    z-index: 99;
    overflow: auto;
}

.popover.animate {
    transition: 0.2s var(--ease-in-out-quart);
}

.popover.visible {
    opacity: 1;
    transition: 0.1s var(--ease-in-out-quart);
}

.dropdown {
    border-radius: 22px;
    padding: 4px;
    gap: 4px;
}

.dropdown .btn {
    --height: 32px;
}

@media (pointer: coarse) {
    .dropdown .btn {
        --height: 40px;
    }
}

.dropdown .separator {
    height: 1px;
    margin: 0px 16px;
    border-bottom: 1px solid var(--c-border-subtle);
}

.dropdown .btn:not(.text):focus-visible {
    outline: none;
    transition: none;
}

.card {
    border-radius: 16px;
    padding: 8px 12px;
    border: 1px solid var(--c-border-default);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card.sectional,
.card.no-padding {
    padding: 0px;
}

.card.sectional>.section {
    padding: 8px 12px;
}

.card.spacious,
.card>.section.spacious {
    padding: 20px 16px;
}

.card.sectional>.section:not(:last-child) {
    border-bottom: 1px solid var(--c-border-default);
}

.card.hoverable {
    transition: 0.1s ease-in-out;
}

.card.hoverable:hover,
.card.hoverable:focus-visible {
    border-color: var(--c-action-primary);
    transition: none;
}

.card.hoverable:hover,
.card.hoverable:focus-visible,
.card.surface,
.card>.section.surface {
    background: var(--c-bg-surface);
}

a.card {
    color: inherit;
    text-decoration: none;
}

.invisible {
    opacity: 0;
}

.slide-fade-up {
    opacity: 0;
    animation: slideFadeUp 0.4s ease-in-out forwards;
    animation-delay: var(--delay, 0s);
}

@keyframes slideFadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}