<div class="h-full flex col gap-24 align-center justify-center">
    <div class="flex col gap-8 text-center" data-load-animate="0">
        <div class="text-size-24 text-weight-300">Welcome to</div>
        <div class="color-accent text-size-42 text-weight-600">kaysting.dev</div>
    </div>
    <p class="color-secondary text-size-16 font-monospace text-center no-margin" data-load-animate="100">
        The personal website of Kayla Kersting. Explore her portfolio or check out this site's growing suite of useful
        tools.
    </p>
    <div class="flex gap-16 flex-wrap justify-center" data-load-animate="200">
        <a href="/about" class="btn medium">
            <span class="symbol filled">person</span>
            <span class="label">Learn about Kayla</span>
        </a>
        <a href="/tools" class="btn outline medium">
            <span class="symbol filled">apps</span>
            <span class="label">Explore tools</span>
        </a>
    </div>
</div>
